*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    letter-spacing: 2px;
    word-spacing: 1px;
    
}

hr{
    width: 4vw;
    height: 3px;
    margin: 11px 0;
    background-color: black
}

.home{
    height: 100vh;
    background:linear-gradient(
        45deg
        , rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url("../img/background-gd162d3762_1280.png") center center no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    width: 100%;
    background-color: rgba(91, 69, 212, 0.9);
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: column;
    position: relative;
}
#header-1{
    width: 50%;
    text-align: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    right: 0;
    top : 0;
    transition: 0.5s; 
    overflow-x: hidden;
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1));
}
.primary-heading{
    font-size :1.4em;
    width: 126%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    padding: 11px 0;
    opacity: 1;
    animation: glow 2s infinite linear;
}
@keyframes glow {
    0%{
        /* transform: translateY(20%); */
        opacity: 1;
    }
    25%{
        /* transform: translateY(15%); */
        opacity: 0.5;
    }
    50%{
        /* transform: translateY(10%); */
        opacity: 0.7;
    }
    75%{
        /* transform: translateY(5%); */
        opacity: 0.9;
    }
    100%{
        /* transform: translateY(0%); */
        opacity: 1;
    }
}
a{
    text-decoration: none;
    color: white;
}
li{
    list-style: none;
    padding:9px;
}
nav ul li a{
    text-decoration: none;
    color: azure;
    font-size: 1em;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 5px;
    position: absolute;
    top: 1.3rem;
    left: 0;
    bottom: 10px;
    background-color:  chartreuse;
    transition:1s;
}
nav ul li a:hover::after{
    width: 100%;
}
nav ul li a.active:after{
    width: 100%;
}
.closebtn{
    position: absolute;
    font-size: 74px;
    top: 0;
    right: 0;
    margin: 15px 59px;
}
.main{
    /* height: 100%; */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    margin: 5px 0;
}
.btn{
    margin: 5px 0;
}
#qr{
    margin: 5px 0;
}
#text{
    padding: 7px 9px;
    border: 2px solid #d1adad;
    border-radius: 7px;
    margin: 36px 0;
}
button{
    padding: 12px;
    margin: 0px 0 34px 0px;
    border: 2px solid;
    background-color: transparent;
    color: aliceblue;
    border-radius: 11px;
    box-shadow: 2px 5px 8px rgb(0, 0, 0);
    transition: all 0.3s ease-in-out;
    cursor: pointer;

}
button:hover{
    box-shadow: 0 0 0;
}
#qr-result{
    margin: 0px 0 27px 0;
    letter-spacing: 2px;
    word-spacing: 4px;
}
@media (max-width:500px) {
    .primary-heading{
        font-size: 1em;
    }
}
